/PERTEMUAN1/StandartIOJava/nbproject/private/
/PERTEMUAN1/StandartIOJava/build/
/PERTEMUAN1/TvSimulation/nbproject/private/
/PERTEMUAN1/TvSimulation/build/
/PERTEMUAN2/Praktek/Manusiajava/nbproject/private/
/PERTEMUAN2/Praktek/Manusiajava/build/
/PERTEMUAN2/Teori/MobilKu/nbproject/private/
/PERTEMUAN2/Teori/MyCar/nbproject/private/
/PERTEMUAN2/Teori/MyCar/build/
/PERTEMUAN2/Teori/MatematikaDemo/nbproject/private/
/PERTEMUAN2/Teori/MatematikaDemo/build/
/PERTEMUAN2/Teori/BukuDemo/nbproject/private/
/PERTEMUAN2/Teori/BukuDemo/build/
/PERTEMUAN2/Teori/MyBicycle/nbproject/private/
/PERTEMUAN2/Teori/MyBicycle/build/
/PERTEMUAN3/PRAKTEK/GamesDemo/nbproject/private/
/PERTEMUAN3/PRAKTEK/GamesDemo/build/
/PERTEMUAN5/praktek/InheritanceVehicle/nbproject/private/
/PERTEMUAN5/praktek/InheritanceVehicle/build/
/PERTEMUAN5/teori/ListData/nbproject/private/
/PERTEMUAN5/teori/ListData/build/
/PERTEMUAN5/teori/TransportasiDemo/nbproject/private/
/PERTEMUAN6/TransportasiDemo/nbproject/private/
/PERTEMUAN6/Teori/TransportasiDemo/nbproject/private/
/PERTEMUAN6/Teori/TransportasiDemo/build/
/PERTEMUAN7/Teori/MobilDemo/nbproject/private/
/PERTEMUAN7/Teori/MobilDemo/build/
/PERTEMUAN8/Praktek/Akademik/nbproject/private/
/PERTEMUAN8/Praktek/Akademik/build/
/PERTEMUAN8/Praktek/Akademik/dist/
/PERTEMUAN8/Praktek/HarpindoCar/nbproject/private/
/PERTEMUAN8/Praktek/HarpindoCar/build/
/PERTEMUAN10/Teori/JavaSwingLearning/nbproject/private/
/PERTEMUAN10/Teori/JavaSwingLearning/build/
/PERTEMUAN10/Teori/JavaSwing/nbproject/private/
/PERTEMUAN10/Teori/JavaSwing/build/
/PERTEMUAN10/Praktek/BeratIdeal/nbproject/private/
/PERTEMUAN10/Praktek/BeratIdeal/build/
/PERTEMUAN10/Praktek/BeratIdeal/dist/
/PERTEMUAN10/Praktek/LatihanAWT1/nbproject/private/
/PERTEMUAN10/Praktek/LatihanAWT1/build/
/PERTEMUAN10/Praktek/LatihanAWT2/nbproject/private/
/PERTEMUAN10/Praktek/LatihanAWT2/build/
/PERTEMUAN11/Teori/Akademik/nbproject/private/
/PERTEMUAN11/Teori/Akademik/build/
/PERTEMUAN11/Teori/Akademik/dist/
/PERTEMUAN11/Teori/CrudMVC/nbproject/private/
/PERTEMUAN11/Teori/CrudMVC/build/
/PERTEMUAN11/Teori/CrudMVC/dist/
/PERTEMUAN11/Teori/JavaMvcCrud/nbproject/private/
/PERTEMUAN11/Teori/JavaMvcCrud/build/
/PERTEMUAN12/Praktek/DutaCoding/nbproject/private/
/PERTEMUAN12/Praktek/DutaCoding/build/
