/PERTEMUAN1/StandartIOJava/nbproject/private/
/PERTEMUAN1/StandartIOJava/build/
/PERTEMUAN1/TvSimulation/nbproject/private/
/PERTEMUAN1/TvSimulation/build/
/PERTEMUAN2/Praktek/Manusiajava/nbproject/private/
/PERTEMUAN2/Praktek/Manusiajava/build/
/PERTEMUAN2/Teori/MobilKu/nbproject/private/
/PERTEMUAN2/Teori/MyCar/nbproject/private/
/PERTEMUAN2/Teori/MyCar/build/
/PERTEMUAN2/Teori/MatematikaDemo/nbproject/private/
/PERTEMUAN2/Teori/MatematikaDemo/build/
/PERTEMUAN2/Teori/BukuDemo/nbproject/private/
/PERTEMUAN2/Teori/BukuDemo/build/
/PERTEMUAN2/Teori/MyBicycle/nbproject/private/
/PERTEMUAN2/Teori/MyBicycle/build/
/PERTEMUAN3/PRAKTEK/GamesDemo/nbproject/private/
/PERTEMUAN3/PRAKTEK/GamesDemo/build/
