/PERTEMUAN1/StandartIOJava/nbproject/private/
/PERTEMUAN1/StandartIOJava/build/
/PERTEMUAN1/TvSimulation/nbproject/private/
/PERTEMUAN1/TvSimulation/build/
/PERTEMUAN2/Praktek/Manusiajava/nbproject/private/
/PERTEMUAN2/Praktek/Manusiajava/build/
